fastapi
uvicorn
python-dotenv
pydub
numpy
faiss-cpu
google-generativeai
langchain-community
sentence-transformers
unstructured[pdf]
unstructured[docx]
unstructured[ppt]
unstructured[excel]
unstructured[xml]
torch
torchaudio
transformers